.navbar-fixed-top {
   position: relative;
   padding-bottom: 0px;
   margin-bottom: 0px;
}

#forecast_bar {
   background-color: #DDDDDD;
   margin-top: 25px;
   padding-top: 20px;
   padding-bottom: 20px;
}
